---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1> Welcome to Neat Systems! </h1>
<p> Neat Systems is a consultancy helping startups from Seed to C evaluate and optimize your systems to avoid letting growth get in the way of your goals. We focus on the interdisciplinary problems that arise as natural side effects of pursuing your funders' goals for you in those rounds. These problems often don't get solved because every affected team is overloaded with their own work, and instead we accept them as "growing pains." Accepting growing pains, however, reduces organizational and capital efficiency, and makes work less fun. Neat Systems was founded to support organizations with short-term capacity augmentation specifically focused on the interdisciplinary root causes of systemic issues slowing your organization down. </p> 
<p>If you're a growth-stage organization looking to raise in the next three months, check out our <a href="blog.njk">blog</a>, <a href="contact.md">contact us</a>, or <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0l8wwk__O7t1icTZ5MJU7S4b7yssXide30lGwA6RTmj93ztrt_VAcdRk2HslCtcOI5K_zWTg4L" target="_blank">book a call</a> (external link opens in new tab).</p> 
<p>If something on this website is useful to you, please let us know. As we develop our offerings, community feedback continues to play a huge role in the shape of the resources we provide.</p>

<h2>When can Neat Systems help?</h2>
<p> The best time to engage Neat Systems is as you're preparing to raise a Series A or Series B round, or just after raising when you're finalizing your growth strategy for the next round. We will work with you to determine key points of leverage for you to thrive in your next stage of growth. If you're in a heavily-regulated industry where process changes may require regulatory approval, like healthcare, it might make sense for us to talk around the time of your Seed round. If you're getting ready to raise a Series C and just feeling the onset of growing pains now, firstly congratulations! It might make sense for us to chat as well. </p>

<p>No matter how large or small your organization is, all engagements start with us getting to know your organization. Neat Systems helps in a variety of ways tailored to your organization's mission and values, growth stage, and current pain points.
Everything we do is tailored to your organization's needs and priorities, with a focus on freeing your teams' time to work on their specific goals.</p>
<div ID="plans">
  {%- for plan in plans -%}
    <DIV CLASS="plan"> 
        <p><strong>{{ plan.name }}</strong> </p>
        <p>You might feel like:</p> <ul>
        {%- for challenge in plan.challenges -%}
           <li> {{ challenge.challenge }} </li>
        {%- endfor -%}</ul> </br>
        <p>We can help you with:</p> <ul>
        {%- for intervention in plan.interventions -%}
           <li> {{ intervention.intervention }} </li>
        {%- endfor -%}</ul> </br> 
    </DIV>
  {%- endfor -%}
</div>

<h2> Growing a Nonprofit?</h2>
<p>We understand that nonprofits experience many of the same inflection points in your growth cycle as for-profit startups, but that you may not have as many financial resources to navigate these challenging circumstances. Whether your growth comes from an increase in individual donations, a significant grant or bequest, or simply gradual expansion over time, we offer significant discounts to help you navigate organizational changes while keeping your program dollars directed towards your mission.</p>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}