---js
const eleventyNavigation = {
	key: "Links",
	order: 4
};
---
<h1>Find Us Online</h1>
<ul class="links">
  {%- for link in links -%}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
  {%- endfor -%}
</ul>